.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.retry-btn {
    margin-top: 1rem;
    font-size: .8rem;
    background: none;
    border: none;
    color: #208ac6;
    text-decoration: underline;
    cursor: pointer;
}

.error-message {
    font-size: .5rem;
    color: red;
    text-align: start;
}